body{
  text-align: center;
  color: #EDB83D;
  /*
  background-color: #000B29;
  */
}
h1{

}
li{
  display: flex;
  justify-content: center;
  margin: 10px;
}
ul{
  list-style-position: outside;
  padding: 0%;
}
.pictureSize{
  width: 200px;
}
/*
.frame{
  background-color:#F8F5F2;
}
.frameSection{
  background-color: #D70026;
} */