body{
  text-align: center;
  color: #EDB83D;
  background-color: #000B29;
}
ul{
  list-style-position: outside;
  padding: 0%;
}
section>ul>li{
  display: inline;
}
img,article,section,p{
  max-width: 100%;
}
h1,h2{
  color: #CF5C36;
}
#buttonUp{
  position:fixed;
  width: 25px;
  height: 25px;
  bottom: 50px;
  right: 30px;
  background: #Ff0034;
}
.liContact {

}
/*//////////////////// link design ///////////////////*/
a:link {
color: #EDB83D;
}
a:visited{
  color: greenyellow;
}
a:hover {
  background: #CF5C36;
  color: black;
}
a:focus {
  color: aqua;
}
a:active {
  color: #Ff0034;
}
/*////////////////////////// CLASS COLOR /////////////////////*/
.frameBox{
 box-sizing: content-box;
 background-color: #345995;
 width: 70%;
 padding: 10px;
 margin: auto;
 border: solid #EEE5E9;
}
/*////////////////////// média responsive for smart //////////////*/
@media(min-width:320px) {
  .imgSmart {
    width: 200px;
    max-width: 100%;
  }
  p {
  font-size: 20px;
  }
  li{
    display: flex;
    justify-content: center;
    margin: 10px;
  }
  body{
    font-family:Georgia, 'Times New Roman', Times, serif;
  }

}
/*/////////////////////// média responsive for large  ////////////////*/
@media(min-width:768px) {
  .imgBig{
    width: 400px;
  }
  body{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  h1,h2,h3{
    font-size: 40px;
  }
  p {
  font-size: 30px;
  }
  contact{
    display: inline-flex;
  }
  li{
    display: inline;
  }
}