body{
  text-align: center;
  color: #EDB83D;
  background-color: #000B29;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

ul{
  list-style-position: outside;
  padding: 0%;
}
/*////////////////////////// CLASS COLOR /////////////////////*/
.frameBox{
 box-sizing: content-box;
 background-color: #345995;
 width: 80%;
 justify-items:center;
 padding: 10%;
 border: solid #EEE5E9;
}
a{}
p{
  background-color: #345995;
}
h1,h2{
  color: #CF5C36;
  text-shadow: #EDB83D;
}
/*////////////////////// média query //////////////*/
@media (any-hover: hover) {

}
@media(min-width:200px) {
  img {
    width: 200px;
  }
  p {
  font-size: 20px;
  }
  li{
    display: flex;
    justify-content: center;
    margin: 10px;
  }
  a:hover {
    background: #345995;
    color: #EDB83D;
  }
}
@media(min-width:500px) {
  img {
    width: 400px;
  }
  p {
  font-size: 30px;
  }
  li{
    display: inline-flex;
    justify-content: ;
  }
  a:link{
    color: yellow;
  }
  a:visited{
    color: greenyellow;
  }
  a:active {
    color: green;
  }
 
}