body{
  text-align: center;
  color: #af1c1c;
  background-color: #2F2F28;
}
h1{

}
li{
  display: flex;
  justify-content: center;
  margin: 10px;
}
ul{
  list-style-position: outside;
  padding: 0%;
}
main{
  background-color: #F0EFFE;
}
header, footer{
  background-color:#31a2ac;
}