body{
  text-align: center;
  color: #EDB83D;
  background-color: #000B29;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
li{
  display: flex;
  justify-content: center;
  margin: 10px;
}
ul{
  list-style-position: outside;
  padding: 0%;
}
.pictureSize{
  width: 200px;
}
/*////////////////////////// CLASS COLOR /////////////////////*/
.frameBox{
 box-sizing: content-box;
 background-color: #345995;
 width: 80%;
 justify-items:center;
 padding: 10%;
 border: solid #EEE5E9;
}
.frameSection{
  background-color: ;
}
/*
p{
  background-color: #345995;
}*/
h1,h2{
  color: #CF5C36;
  text-shadow: #EDB83D;
}
@media (any-hover: hover) {
  a:hover {
    background: #345995;
    color: #EDB83D;
  }
}